@{
    ViewData["Title"] = "Home Page";
} 

<div>
    <h1 class="display-4">Welcome Page</h1>
    <p>Manage my <a asp-controller="Course" asp-action="All">courses</a> or <a asp-controller="Course" asp-action="Add">add a new course</a>.</p>
</div>